
.title {
    margin: 100;
    padding: 30%;
    display: flex;
    align-items: center;
    position: relative;
    height: 60px;
    background-color: aqua;
}
.logo {
    margin: auto;
    height: 60px;
    width: 60px;
}
.title .head-text {
    text-align: center;
    width: 200px;
}

/* -------------------------------------- */
boby{
    font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
    display: block;
    box-sizing: border-box;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.content-row{
    padding: 0 0 50px;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}

label {
    font-weight: normal;
}

.item {
    margin-left: 40px;
    margin-right: 40px;
}

.float-btn {
    /*position: fixed; */
    bottom: 15px; right: 20%;

}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #aaa;
}

#submitBtnEx {
    margin-top: 60px;
    width: 100px;
}

.font_3 {
    font-size: 22px;
}

.attachImg{
    width: 100px;
    margin-top: 10px;
}
#tipDiv{
    margin-top: 60px;
    font-size: 17px;
    font-family: 黑体;
    border-top: 1px dashed #ccc;
    padding: 15px 25px 0;
    display: none;
}
.mt1{
    margin-top: 10px;
}
.mt2{
    margin-top: 15px;
}

#codeDiv{
    width: 45%;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #eee;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}
.desc{
    color: #939393;
    font-size: 13px;
    /*margin-bottom: 10px;*/
}








