body {
    margin: 0;
}
/* 主页 */
.title {
    height: 40px;
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.logo {
    margin: auto;
    height: 40px;
    width: 40px;

}
.title .head-text {
    text-align: left;
    width: 500px;
    padding-left: 20px;
    font-size: 20px;
}
.title .head-text-main {
    text-align: left;
    width: 500px;
    padding-left: 20px;
    text-shadow: 1px 1px;
    font-size: 20px;
    font-weight: bold;
}
.weather {
    width: 90%;
    height: 30px;
    padding: 5%;
    background-color: rgb(255, 255, 255);
    display: grid;
}

.weather .weather-text {
    text-align: right;
    width: 50%;
    font-size: 12px;
    justify-self: right;
    font-family: "Lucida Console", "Courier New", monospace;
}

.hang1 {
    width: 90%;
    padding: 5%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px 15px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-family: "Lucida Console", "Courier New", monospace;
}

.hang1 .yicheng{
    width: 100%;
    height: 150px;
    line-height: 150px;
    font-size: 25px;
    text-align: center;
    background-color: rgb(175, 208, 255);
}
.hang1 .shijian{
    width: 100%;
    height: 150px;
    line-height: 150px;
    font-size: 25px;
    text-align: center;
    background-color: rgb(169, 182, 255);
}
.hang1 .dingcan{
    width: 100%;
    height: 150px;
    line-height: 150px;
    font-size: 25px;
    text-align: center;
    background-color: rgb(252, 183, 187);
}

/* 订餐页面 */

.title-dingcan {
    height: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.title-dingcan .head-text-dingcan {
    text-align: left;
    width: 500px;
    padding-left: 20px;
    font-size: 20px;
}
.dingcanlist {
    width: 100%;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
.dingcanday {
    display: block;
    margin: 10px;
    font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
    line-height: 1.5;
    padding: 10px;
    font-size: 16px;
    color: #7CAE23;
    
}
.dingcanday .riqi {
    padding-bottom: 20px;
}
.dingcanfan {
    border-bottom: 1px solid #e9e9e9;
    /* border-top: 1px solid #e9e9e9; */
    background-color: aliceblue;
    color: #000000;
    padding-left: 8px;
    padding-right: 8px;
    font-family: "Lucida Console", "Courier New", monospace;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dingcanfan .diancanmiaoshu{
    /* justify-content: flex-start; */
    /* display: flex; */
}
.dingcanfan .dingcanok{
    font-size: 16px;
    color:#000;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
}
.dingcanfan .dingcanok .dingcanbutton{
    color: #000000;
    font-weight: normal;
    background-color: #7bcfde;
    height: 30px;
    width: 80px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #1d2d1e; /* 绿色 */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.dingcanfan .dingcanbutton {
    color: #000000;
    background-color: #7CAE23;
    height: 30px;
    width: 60px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #1d2d1e; /* 绿色 */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.dingcanfan .dingcanbutton:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
  }

/* 弹窗 (background) */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

/* 弹窗内容 */
.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-color: rgb(225, 225, 225);
}

/* 添加动画 */
@-webkit-keyframes animatetop {
    from {top:0; opacity:0} 
    to {top:50%; opacity:1}
}

@keyframes animatetop {
    from {top:0; opacity:0}
    to {top:50%; opacity:1}
}

/* 关闭按钮 */
.close {
    color: white;
    float: right;
    font-size: 60px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding-left: 16px;
    background-color: #68a9ff;
    color: white;
    height: 60px;
    line-height: 60px;
}
.modal-header h2{
    display: block;
    height: 40px;
    font-size: 32px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.modal-body {
    padding: 2px 16px;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;

}

.modal-button {
    padding: 0px 0px;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: space-between;
    font-family: "Lucida Console", "Courier New", monospace;
    height: 60px;
    
}
.modal-button .modal-enter{
    width: 50%;  
    color: #507f00;
    float: left;
    border: 1px solid #1d2d1e;
    font-size: 24px;
    font-family: "Lucida Console", "Courier New", monospace;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.modal-button .modal-esc{
    width: 50%;    
    color: #8a0000;
    float: left;
    border: 1px solid #1d2d1e;
    font-size: 24px;
    font-family: "Lucida Console", "Courier New", monospace;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}
.modal-button .modal-enter:active {
    background-color: #e1e1e1;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
  }

.img-qrcode {
    width: 100%;
    justify-self:center;
}