<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>百城千园行乘车安排</title>
    <link rel="stylesheet" type="text/css" href="/static/mymain.css?v=052906">

</head>
<body>
    <div class="background"></div>
    <div class="title" onclick="tohome()">
        <img class="logo" src="../static/百城千园行.png"/>
        <a class="head-text">
            <div class="head-text-main">百城千园行-万全站</div>
            <div class="head-text-sub">乘车安排</div>
        </a>
    </div>
    <div class="huiyixuzhi">
        <div class="title">乘车安排</div>
        <div class="left">一、时间:</div>
        <div class="text">14:00准时出发</div>
        <div class="left">二、内容</div>
      <div class="text">嘉宾由<text class="bold">张家口市万全区禾久集团二楼会议室前门</text>集体乘车赴<text class="bold">张家口三信同达机械制造有限公司、张家口长城液压油缸有限公司</text></div>
        <div class="left">三、乘客</div>
        <div class="text">联通雄安产业互联网有限公司专家</div>
        <div class="text">浙江大华技术股份有限公司专家</div>
        <div class="text">北京华信有道科技有限公司专家有关金融机构及院校</div>
        <div class="text">张家口市工信局主要负责人</div>
        <div class="text">万全区工信局主要负责人（2人）</div>
        <div class="text">万全联通政企业务中心（4人）</div>
        <div class="left">四、引导车</div>
        <div class="text">冀G 31107</div>
        <div class="left">五、联络员</div>
        <div class="text">康斌 18603238676</div>



    </div>
    <footer>
        <div class="container">
          <div class="content">
            <p>Copyright©2023  河北联通  提供技术支持</p>
            <img src="../static/liantong.png"/>
            <!-- <p>Technical support: support@yourcompany.com</p> -->
          </div>
        </div>
    </footer>


<script src="/static/jquery.min.js"></script>
<script language="JavaScript">
    function tohome(){
        window.location.href = "/index"
    }

</script>
</body>
</html>