<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>百城千园行-怀安简介</title>
    <link rel="stylesheet" type="text/css" href="/static/mymain.css?v=072105">

</head>
<body>
    <div class="background"></div>
    <div class="title" onclick="tohome()">
        <img class="logo" src="../static/百城千园行.png"/>
        <a class="head-text">
            <div class="head-text-main">百城千园行-万全站</div>
            <div class="head-text-sub">怀安简介</div>
        </a>
    </div>
    <div class="huiyixuzhi">
        <div class="title">怀安简介</div>
        <div class="left"></div>
        <div class="text">怀安县，隶属河北省张家口市，位于河北省西北部，东连宣化区，东南接阳原县，西南、西部与山西省天镇县毗邻，西北以长城与尚义县为界，北隔洋河与万全区相望。 行政区域总面积1706千米。</div>
        <div class="text">怀安县有悠久的历史。唐穆宗长庆二年（公元822年），取“朝廷施行仁政，百姓怀恩而安”之意，始称怀安县。县域总面积1706平方公里，耕地面积73万亩。全县辖4镇7乡273个行政村，七普数据常住人口17.99万人。</div>
        <div class="text">怀安县的文化灿烂。素有“文化县”之称，历代人才辈出，明清时进士、举人、生员达400多人，近代涌现出康世恩、阮慕韩、李健生等国家领导和志士仁人。围棋文化影响深广，是“全国围棋之乡”之一，中小学生围棋普及率达到56%。饮食文化独特，熏肉、豆腐皮、一窝丝饼并称“怀安三宝”，柴沟堡熏肉被载入《全国食品大字典》，列为“中华老字号”产品。</div>
        <div class="text">怀安县资源丰富。县境居洋河上游，是河北省水资源较为丰富的县区。地下矿藏有30多种，主要为铁、墨玉花岗岩、高岭土等。境内日照充足，风能充沛，具有发展新能源产业得天独厚的优势。2022年，全县可再生能源总装机规模14.25万千瓦，全部为光伏发电；累计取得可再生能源指标213.6万千瓦，其中风电85万千瓦，光伏108万千瓦，储能20万千瓦，生物质发电0.6万千瓦。</div>
        <div class="text">怀安县生态良好。属大陆性季风气候，四季分明，气候宜人，年均降水量406毫米，年均无霜期147天,年均气温8.3℃，是全国空气质量最好的县区之一。有熊耳山省级森林公园，灵官庙、金沙滩两大林场生态植被密集，自然风光优美，是优质的“天然氧吧”。</div>
        <div class="text">近年来，怀安县抢抓京津冀协同发展、京张携手举办冬奥会、建设首都“两区”和国家可再生能源示范区、获批国家应急产业示范基地、张呼和张大高铁设枢纽站等机遇，围绕“生态立县、产业强县”总思路，坚持“抓规划、抓园区、抓项目、抓平台、抓政策、抓服务”，大力发展实体经济、县域经济和民营经济，不断壮大现代制造、应急服务、可再生能源、绿色农牧、体育文化旅游等产业，加快实现创新绿色高质量发展，为建设经济强县、美丽怀安蓄积了后劲。</div>



    </div>
    <footer>
        <div class="container">
          <div class="content">
            <p>Copyright©2023  张家口联通  提供技术支持</p>
            <img src="../static/liantong.png"/>
            <!-- <p>Technical support: support@yourcompany.com</p> -->
          </div>
        </div>
    </footer>


<script src="/static/jquery.min.js"></script>
<script language="JavaScript">
    function tohome(){
        window.location.href = "/index"
    }

</script>
</body>
</html>