<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>百城千园行</title>
    <!-- <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'mymain.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="/static/mymain.css?v=05251517">

</head>
<body>
    <div class="background"></div>
    <div class="title">
        <img class="logo" src="../static/百城千园行.png"/>
        <a class="head-text">
            <div class="head-text-main">工赋园区·数智未来</div>
            <div class="head-text-sub">百城千园行-张家口站</div>
        </a>
    </div>
    <div class="title-space"><div class="title-space-sub"></div></div>

    <div class="weather">
        <a class="weather-text">欢迎您！</a>
    </div>
    <div class="maintext" style="padding-left: 2.4rem;padding-right: 2.4rem;padding-top: 1rem;">
        京津冀工业互联网协同发展示范区供需对接活动暨工业互联网一体化进园区“百城千园行”<br />张家口站启动仪式
    </div>
    <div class="maintext">
        > 时间
        <div class="maintext-sub">2023.5.29-2023.5.30</div>
    </div>
    <div class="maintext">
        > 地点
        <div class="maintext-sub">张家口北辰五洲皇冠酒店</div>
        <div class="maintext-sub">(住宿费用需自理)</div>
    </div>
    <div class="maintext">
        > 主题
        <div class="maintext-sub">工赋园区·数智未来</div>
    </div>

    <!-- <div class="hang1">
        <div class="shijian" onclick="toShijian();">会议安排</div> 
        <div class="dingcan" onclick="toDingcan();">酒店订餐</div>
    </div> -->
    <div class="floating-buttons">
        <!-- <a href="#" class="floating-button" style="font-weight: bold;border-style: inset;background-color: #5698c3;color: aliceblue;">主页</a> -->
        <a href="#" class="floating-button" onclick="toWeather();">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-moon-fill" viewBox="0 0 16 16">
                <path d="M11.473 11a4.5 4.5 0 0 0-8.72-.99A3 3 0 0 0 3 16h8.5a2.5 2.5 0 0 0 0-5h-.027z"/>
                <path d="M11.286 1.778a.5.5 0 0 0-.565-.755 4.595 4.595 0 0 0-3.18 5.003 5.46 5.46 0 0 1 1.055.209A3.603 3.603 0 0 1 9.83 2.617a4.593 4.593 0 0 0 4.31 5.744 3.576 3.576 0 0 1-2.241.634c.162.317.295.652.394 1a4.59 4.59 0 0 0 3.624-2.04.5.5 0 0 0-.565-.755 3.593 3.593 0 0 1-4.065-5.422z"/>
              </svg>
            天气
        </a>
        <a href="#" class="floating-button" onclick="toShijian();">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
              </svg>
              日程
        </a>
    </div>

    <footer>
        <div class="container">
          <div class="content">
            <p>Copyright©2023  河北联通  提供技术支持</p>
            <img src="../static/liantong.png"/>
            <!-- <p>Technical support: support@yourcompany.com</p> -->
          </div>
        </div>
      </footer>



<script src="/static/jquery.min.js"></script>
<script language="JavaScript">
    
    function toShijian(){
        window.location.href = "/timeanpai";
    };

    function toWeather(){
        window.location.href = "/weather"   ;
    };


    
</script>
</body>
</html>
