<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>百城千园行活动签到</title>
    <!-- <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/blue.css">
    <link rel="stylesheet" href="/static/animate.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/mymain.css?v=05231720">

</head>
<body>
    <div class="title">
        <img class="logo" src="../static/百城千园行.png"/>
        <a class="head-text">
            <div class="head-text-main">工赋园区·数智未来</div>
            <div class="head-text-sub">百城千园行-张家口站</div>
        </a>
    </div>

    <div class="container-new">
        <div class="page-header">
            请填写签到信息
        </div>
        <form id="enrollForm" onsubmit="return checkForm(this)" role="form" method="post" action="/enrollInfo/saveEnrollInfo">
            <div class="form-group">
                <label>姓名</label>
                <div class="item">
                    <input type="text" class="form-control" value="" id="name" name="name" autocomplete="off" placeholder="必填" required="required">
                </div>
            </div>
            <div class="form-group">
                <label>手机</label>
                <div class="item">
                    <input type="text" id="tel" class="form-control"
                    value="" name="phone" autocomplete="off" placeholder="必填"
                    pattern="[0-9]{11}" maxlength="11">
                </div>
            </div>
                <div class="form-group">
                <label>单位</label>
                <div class="item">
                    <input type="text" class="form-control" value="" id="danwei" name="work" autocomplete="off" placeholder="必填" required="required">
                </div>
            </div>
        </form>
        <div class="commit-btn" id="subdiv">
            <button type="button" onclick="submit();">签到</button>
        </div>
        <div class="col-sm-1 col-md-2 col-lg-2 hidden-xs"></div>
    </div>


<footer>
    <div class="container">
      <div class="content">
        <p>Copyright©2023  河北联通  提供技术支持</p>
        <img src="../static/liantong.png"/>
        <!-- <p>Technical support: support@yourcompany.com</p> -->
      </div>
    </div>
  </footer>

<script src="/static/jquery.min.js"></script>
<style>
    .yg-toast {
        position: fixed;
        background: rgba(0, 0, 0, .7);
        border-radius: 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 60%;
        text-align: center;
        transition: all .1s;
    }

    .yg-toast-text {
        color: #fff;
        padding: 20px;
    }

</style>

<script language="JavaScript">
    var openid = "{{openid}}"
    function submit() {
        var name = $("#name").val()
        var phone = $("#tel").val()
        var danwei = $("#danwei").val()
        if (name.length==0){
            alert("名字为必填项")
            return
        }
        if (danwei.length==0){
            alert("单位为必填项")
            return
        }
        if (phone.length!=11){
            alert("手机号码格式错误")
            return
        }
        $.ajax({
            url: '/signup',
            type: 'post',
            data: JSON.stringify({
                'openid': openid,
                'name': name,
                'phone': phone,
                'danwei': danwei
            }),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                if(data['ok']){
                    window.location.href = "/index/"+openid;
                }
            }
        })
    };

    $("body").on("click", ".uploadBtn", function (e) {
        $(e.target).next(".attach").click();
    });

    var url = new URL(window.location.href)
    console.log(url)
    var code = url.searchParams.get("code");
    var state = url.searchParams.get("state");

    if(openid==null) {
        alert("请扫码打开！")
    }

</script>
</body>
</html>
