<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>百城千园行-会议安排</title>
    <!-- <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/blue.css">
    <link rel="stylesheet" href="/static/animate.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/mymain.css?v=05251517">

</head>
<body>
	<div class="background"></div>
    <div class="title"  onclick="tohome()">
        <img class="logo" src="../static/百城千园行.png"/>
        <a class="head-text">
            <div class="head-text-main">百城千园行-张家口站</div>
            <div class="head-text-sub">会议安排</div>
        </a>
    </div>

    <div class="container-new">
        <div class="time-header">
            时间安排
        </div>

		<div class="time-day">5月29日（星期一）</div>
		<div class="time-hour">
			<div class="time-time">14:30-18:30</div>
			<div class="time-thing">报到</div>
		</div>
		<div class="time-address">张家口国际大酒店一楼大厅</div>
		<div class="time-space"><div class="time-space-sub"></div></div>
		

		<div class="time-hour">
			<div class="time-time">18:30-20:00</div>
			<div class="time-thing">欢迎晚宴</div>
		</div>
		<div class="time-address">张家口国际大酒店**楼**厅</div>


		<div class="time-day">5月30日（星期二）</div>
		<div class="time-hour">
			<div class="time-time">07:30-08:30</div>
			<div class="time-thing">早餐</div>
		</div>
		<div class="time-address">张家口国际大酒店**楼**厅</div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">08:30-12:00</div>
			<div class="time-thing">“百城千园行”张家口站启动仪式</div>
		</div>
		<div class="time-address">张家口国际大酒店三楼远大厅</div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">09:50-10:10</div>
			<div class="time-thing">茶歇及观展</div>
		</div>
		<div class="time-address">张家口国际大酒店三楼远大厅</div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">10:10-12:00</div>
			<div class="time-thing">主题演讲&大数据产业链发展高端对话</div>
		</div>
		<div class="time-address">张家口国际大酒店三楼远大厅</div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">12:00-13:20</div>
			<div class="time-thing">自助午餐</div>
		</div>
		<div class="time-address">张家口国际大酒店**楼**厅</div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">13:20-16:50</div>
			<div class="time-thing">分ABC三组调研考察</div>
		</div>
		<div class="time-address"></div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">18:00-19:30</div>
			<div class="time-thing">晚餐</div>
		</div>
		<div class="time-address">张家口国际大酒店**楼**厅</div>

		<div class="time-day">A组行程安排（1号车）</div>
		<div class="time-hour">
			<div class="time-time">13:20-13:30</div>
			<div class="time-thing">集合</div>
		</div>
		<div class="time-address">张家口国际大酒店前门</div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">13:30-14:00</div>
			<div class="time-thing">乘车</div>
		</div>
		<div class="time-address">赴吉利汽车张家口分公司</div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">14:00-14:30</div>
			<div class="time-thing">调研吉利汽车张家口分公司</div>
		</div>
		<div class="time-address"></div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">14:30-15:00</div>
			<div class="time-thing">乘车</div>
		</div>
		<div class="time-address">赴张家口原轼新型材料股份有限公司</div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">15:00-15:30</div>
			<div class="time-thing">调研原轼新型材料公司</div>
		</div>
		<div class="time-address"></div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">15:30-15:50</div>
			<div class="time-thing">乘车</div>
		</div>
		<div class="time-address">赴宝德数坝数字产业（河北）有限公司</div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">15:50-16:10</div>
			<div class="time-thing">调研宝德数坝公司</div>
		</div>
		<div class="time-address"></div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">16:10-16:30</div>
			<div class="time-thing">乘车</div>
		</div>
		<div class="time-address">赴张家口国际大酒店</div>

		<div class="time-day">B组行程安排（2号车）</div>
		<div class="time-hour">
			<div class="time-time">13:20-13:30</div>
			<div class="time-thing">集合</div>
		</div>
		<div class="time-address">张家口国际大酒店前门</div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">13:30-14:00</div>
			<div class="time-thing">乘车</div>
		</div>
		<div class="time-address">赴张家口原轼新型材料股份有限公司</div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">14:00-14:30</div>
			<div class="time-thing">调研原轼新型材料公司</div>
		</div>
		<div class="time-address"></div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">14:30-14:50</div>
			<div class="time-thing">乘车</div>
		</div>
		<div class="time-address">赴宝德数坝数字产业（河北）有限公司</div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">14:50-15:10</div>
			<div class="time-thing">调研宝德数坝公司</div>
		</div>
		<div class="time-address"></div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">15:10-15:50</div>
			<div class="time-thing">乘车</div>
		</div>
		<div class="time-address">赴吉利汽车张家口分公司</div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">15:50-16:20</div>
			<div class="time-thing">调研吉利汽车张家口分公司</div>
		</div>
		<div class="time-address"></div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">16:20-16:50</div>
			<div class="time-thing">乘车</div>
		</div>
		<div class="time-address">赴张家口国际大酒店</div>


		<div class="time-day">C组行程安排（3号车）</div>
		<div class="time-hour">
			<div class="time-time">13:20-13:30</div>
			<div class="time-thing">集合</div>
		</div>
		<div class="time-address">张家口国际大酒店前门</div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">13:30-13:50</div>
			<div class="time-thing">乘车</div>
		</div>
		<div class="time-address">赴宝德数坝数字产业（河北）有限公司</div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">13:50-14:10</div>
			<div class="time-thing">调研宝德数坝公司</div>
		</div>
		<div class="time-address"></div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">14:10-14:50</div>
			<div class="time-thing">乘车</div>
		</div>
		<div class="time-address">赴吉利汽车张家口分公司</div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">14:50-15:20</div>
			<div class="time-thing">调研吉利汽车张家口分公司</div>
		</div>
		<div class="time-address"></div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">15:20-15:50</div>
			<div class="time-thing">乘车</div>
		</div>
		<div class="time-address">赴张家口原轼新型材料股份有限公司</div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">15:50-16:20</div>
			<div class="time-thing">调研原轼新型材料公司</div>
		</div>
		<div class="time-address"></div>
		<div class="time-space"><div class="time-space-sub"></div></div>

		<div class="time-hour">
			<div class="time-time">16:20-16:50</div>
			<div class="time-thing">乘车</div>
		</div>
		<div class="time-address">赴张家口国际大酒店</div>

		<div class="time-day">♥ 活动结束，感谢参加 ♥</div>
    </div>


<footer>
    <div class="container">
      <div class="content">
        <p>Copyright©2023  河北联通  提供技术支持</p>
        <img src="../static/liantong.png"/>
        <!-- <p>Technical support: support@yourcompany.com</p> -->
      </div>
    </div>
  </footer>

<script src="/static/jquery.min.js"></script>
<style>
    .yg-toast {
        position: fixed;
        background: rgba(0, 0, 0, .7);
        border-radius: 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 60%;
        text-align: center;
        transition: all .1s;
    }

    .yg-toast-text {
        color: #fff;
        padding: 20px;
    }

</style>

<script language="JavaScript">
	function tohome(){
        window.location.href = "/index"
		// window.open("/index/"+openid)
    }

</script>
</body>
</html>
