<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>百城千园行-地方简介</title>
    <link rel="stylesheet" type="text/css" href="/static/mymain.css?v=072105">

</head>
<body>
    <div class="background"></div>
    <div class="title" onclick="tohome()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
        </svg>
        <img class="logo" src="../static/百城千园行.png"/>
        <a class="head-text">
            <div class="head-text-main">百城千园行-万全站</div>
            <div class="head-text-sub">地方简介</div>
        </a>
    </div>
    <div class="huiyixuzhi">
        <div class="title">万全简介</div>
        <div class="left"></div>
        <div class="text">万全，意为“全我”，万全区隶属河北省张家口市，位于张家口市东南部，区位优势明显，东临北京，西连坝上草原，南接京津，北靠崇礼。辖1镇、8乡、7个社区、108个行政村，总面积1163平方公里，总人口22.8万人。</div>
        <div class="text">万全区历史悠久。商朝初期，这里就有人类繁衍生息，考古可追溯到龙山晚期。战国时期，为匈奴与东胡族活动地。汉朝时期，万全区属幽州上谷郡所辖。唐朝时期，万全区改称“怀戎”，属河北道北平郡。辽朝时期，怀戎改为“可岚”。金朝时期，升为“宣德”。明朝时期，为加强北部边防，明王朝弃“宣德”而迁都北京，万全城被毁。清康熙三十二年（1693年），取“万全”二字为州名，称万全县。1912年，中华民国成立，改为万全县。1958年，与怀安县合并为怀安县。1993年，撤销怀安县，设立怀安县、万全县。2016年，撤销万全县，设立张家口市万全区，此为万全区的由来。</div>
        <div class="text">万全区文化底蕴深厚。万全右卫城、洗马林玉皇阁、洗马林城墙3处为全国重点文物保护单位，明长城—万全段、“八〇二”军事演习观礼台、老龙湾汉墓群、旧羊屯戏楼4处为河北省重点文物保护单位。万全右卫城距今已有630年历史，作为全国保存最完好的明代军事卫城，被誉为“明代卫所制活化石”。</div>
        <div class="text">万全区自然资源丰富，有丰富的煤炭、白云石、玄武岩石、水晶石等矿产资源。特别是水泥灰岩品位高、储量大，至少可开发利用50年。同时，这里还是全国商品粮基地县、河北省肉羊养殖示范县、河北省肉蛋奶生产重点县，先后被命名为“中国鲜食玉米之乡”和“中国燕麦之乡”。</div>
        <div class="text">目前，万全区呈现蓄势待发的“一核六园”发展布局。主城区片区先后实施了体育场运动公园、城西河河滨缓冲带生态修复及人工湿地水质净化等城市基础设施配套工程，城市功能品质加快提升。张家口高新技术产业开发区先后获评装备制造业国家级新型工业化产业示范基地、首批省级先进矿山装备创新型产业集群和省级清洁生产示范园区。园区现有生产性企业195家，累计签约项目53个，被国家体育总局命名为“国家体育产业示范基地”，被国家工信部认定为全国唯一的“国家新型工业化产业示范基地”（冰雪装备产业基地）。万全经济开发区重点发展高端装备制造、生物医药健康、食品+新能源新材料“3+1”主导产业。万全卫城文化产业园区实施了右卫城南瓮城及部分墙体抢险加固工程等工程。逯家湾创新融合园区加快推进国家华北区域应急救援中心、信息中心等项目工程，努力将该区域打造为康养之城、生态之城、智慧之城、未来之城。西北部乡村特色生态旅游片区充分依托西北部特色生态资源和紧邻草原天路优势，加快推动洗马林古堡、正北沟、菜山沟、白龙洞等特色村庄、景点建设，打造了一批环境优美、配套完善的特色村落和田园综合体。</div>

    </div>

    <div class="huiyixuzhi">
        <div class="title">怀安简介</div>
        <div class="left"></div>
        <div class="text">怀安县，隶属河北省张家口市，位于河北省西北部，东连宣化区，东南接阳原县，西南、西部与山西省天镇县毗邻，西北以长城与尚义县为界，北隔洋河与万全区相望。 行政区域总面积1706千米。</div>
        <div class="text">怀安县有悠久的历史。唐穆宗长庆二年（公元822年），取“朝廷施行仁政，百姓怀恩而安”之意，始称怀安县。县域总面积1706平方公里，耕地面积73万亩。全县辖4镇7乡273个行政村，七普数据常住人口17.99万人。</div>
        <div class="text">怀安县的文化灿烂。素有“文化县”之称，历代人才辈出，明清时进士、举人、生员达400多人，近代涌现出康世恩、阮慕韩、李健生等国家领导和志士仁人。围棋文化影响深广，是“全国围棋之乡”之一，中小学生围棋普及率达到56%。饮食文化独特，熏肉、豆腐皮、一窝丝饼并称“怀安三宝”，柴沟堡熏肉被载入《全国食品大字典》，列为“中华老字号”产品。</div>
        <div class="text">怀安县资源丰富。县境居洋河上游，是河北省水资源较为丰富的县区。地下矿藏有30多种，主要为铁、墨玉花岗岩、高岭土等。境内日照充足，风能充沛，具有发展新能源产业得天独厚的优势。2022年，全县可再生能源总装机规模14.25万千瓦，全部为光伏发电；累计取得可再生能源指标213.6万千瓦，其中风电85万千瓦，光伏108万千瓦，储能20万千瓦，生物质发电0.6万千瓦。</div>
        <div class="text">怀安县生态良好。属大陆性季风气候，四季分明，气候宜人，年均降水量406毫米，年均无霜期147天,年均气温8.3℃，是全国空气质量最好的县区之一。有熊耳山省级森林公园，灵官庙、金沙滩两大林场生态植被密集，自然风光优美，是优质的“天然氧吧”。</div>
        <div class="text">近年来，怀安县抢抓京津冀协同发展、京张携手举办冬奥会、建设首都“两区”和国家可再生能源示范区、获批国家应急产业示范基地、张呼和张大高铁设枢纽站等机遇，围绕“生态立县、产业强县”总思路，坚持“抓规划、抓园区、抓项目、抓平台、抓政策、抓服务”，大力发展实体经济、县域经济和民营经济，不断壮大现代制造、应急服务、可再生能源、绿色农牧、体育文化旅游等产业，加快实现创新绿色高质量发展，为建设经济强县、美丽怀安蓄积了后劲。</div>

    </div>
    <footer>
        <div class="container">
          <div class="content">
            <p>Copyright©2023  张家口联通  提供技术支持</p>
            <img src="../static/liantong.png"/>
            <!-- <p>Technical support: support@yourcompany.com</p> -->
          </div>
        </div>
    </footer>


<script src="/static/jquery.min.js"></script>
<script language="JavaScript">
    function tohome(){
        window.location.href = "/index"
    }

</script>
</body>
</html>