<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>百城千园行活动订餐</title>
    <link rel="stylesheet" type="text/css" href="/static/mymain.css?v=05241634">

</head>
<body>
    <div class="background"></div>
    <div class="title" onclick="tohome()">
        <img class="logo" src="../static/百城千园行.png"/>
        <a class="head-text">
            <div class="head-text-main">百城千园行-张家口站</div>
            <div class="head-text-sub">当地天气</div>
        </a>
    </div>

    <div>
        <!--第一种：使用object标签-->
            <object type="text/html" data="https://widget-page.qweather.net/h5/index.html?md=01456&bg=1&lc=auto&key=26fa5a79e7b542308b27656b305f8ee6&v=_1684909357589" style="width:100%;height: 50rem;">
            </object>
            <!--第二种：使用iframe 标签-->
            <!-- <iframe  style="width:100%;height:100%;"  src='https://widget-page.qweather.net/h5/index.html?md=036&bg=1&lc=auto&key=080753c3b1cf4e17933986da50492f40&v=_1684905708464'></iframe> -->
    </div>

    <footer>
        <div class="container">
          <div class="content">
            <p>Copyright©2023  河北联通  提供技术支持</p>
            <img src="../static/liantong.png"/>
            <!-- <p>Technical support: support@yourcompany.com</p> -->
          </div>
        </div>
    </footer>


<script src="/static/jquery.min.js"></script>
<script language="JavaScript">
    var openid = "{{openid}}"



    function tohome(){
        window.location.href = "/index/"+openid
    }

</script>
</body>
</html>
